<h4 appHighlight bgColor="lightGreen">Product Form</h4>

<div class="card bg-light">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input required class="form-control" type="text" id="name" name="name" placeholder="Enter name"
          [(ngModel)]="product.name" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea required class="form-control" rows="3" placeholder="Enter description" id="description"
          name="description" [(ngModel)]="product.description"></textarea>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input required class="form-control" type="text" id="price" name="price" placeholder="Enter price"
          [(ngModel)]="product.price" />
      </div>

      <div class="form-group form-check">
        <input type="checkbox" id="isAvailable" name="isAvailable" class="form-check-input"
          [(ngModel)]="product.isAvailable" value="true" />
        <label for="isAvailable" class="form-check-label">Available?</label>
      </div>

      <div *ngIf="!editMode; else elseBlock">
        <button type="button" class="btn btn-primary" (click)="onAdd()">Add</button>
      </div>
      <ng-template #elseBlock>
        <div>
          <button type="button" class="btn btn-primary" (click)="onUpdate()">Update</button>
        </div>
      </ng-template>
    </form>
  </div>
</div>

<div class="alert alert-success mt-3" *ngIf="showMessage">
  <span *ngIf="editMode">Product updated successfully.</span>
  <span *ngIf="!editMode">New product added successfully.</span>
  <!-- {{ editMode ? 'Product updated' : 'New product added' }} successfully! -->
</div>